alogentpractices/wwwroot/Include/dashpanels/dashpanelschema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="panel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" />
				<xs:element name="defaults">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="position">
								<xs:complexType>
									<xs:attribute name="panelnumber" type="xs:unsignedByte" use="required" />
									<xs:attribute name="pagenumber" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="file" type="xs:string" />
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required" />
			<xs:attribute name="title" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>